# Ignore node_modules directories
node_modules/

# Ignore any log files
*.log

# Ignore environment variable files
# .env

# Ignore build output directories
dist/
build/

# Ignore Mac OS system files
.DS_Store

# Ignore npm debug files
npm-debug.log*

# Ignore yarn error logs
yarn-error.log

